body,h1,h2,h3,h4,h5,h6{
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 300;
}

/* Login */
    .login_page_container{
        width: 45% !important;
        margin: 60px auto !important;
        border: 1px solid transparent !important;
        border-color: #F2F2F2 !important;
    }

    .title{
        margin-bottom: 30px !important;
        text-align: center;
    }

    #login_form{
        display: none;
    }

    .logo_font{
        display: inline-block !important;
        font-size: 3.5em !important;
        font-family: 'Gloria Hallelujah', cursive;
        letter-spacing: -1px;
        margin-bottom: 10px !important; 
    }

    .login_top_description{
        font-size: 1.2em !important;
        
    }

    .login_form{
        padding: 2.4em !important;
    }

    .set_input{
        margin-bottom: 20px !important;
        position: relative;
    }

    .btn{
        padding: 5px 10px !important;
    }

    .form_signup_error,.login_user_notfound{
        font-size: .9em;
        font-style: oblique;
        color: #ea3434;
    }

    #password_signup,#email_div{
        margin-bottom: 5px !important;
    }

    .password_barometer{
        font-size: .8em;
        font-style: oblique;
        color: grey;
    }

    .signup_icons_desriptive{
        position: absolute;
        right: 15px;
        top: 40px;
        color: black;
    }

    #password_signup,#repassword_signup,#password_singin{
        position: relative;
    }

    #password_showup,#repassword_showup,#password_showup_login:hover{
        cursor: pointer;
    }

    #repassword_signup_small, #email_signup_small{
        color: #ea3434 !important;
    }

    .block{
        display: block !important;
    }

    .none{
        display: none !important;
    }

/* General */
    .nav-item a:hover{
        cursor: pointer !important;
    }

    .nav-link:hover{
        cursor: pointer !important;
    }

/* Admin */
    .box-input{
        border: 2px dotted #bdc3c7;
        width: 100%;
        height: 100px;
        color: #bdc3c7;
        font-size: 100%;
        padding: 0 5px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .fileContainer {
        overflow: hidden;
        position: relative;
    }
    
    .fileContainer [type=file] {
        cursor: inherit;
        display: block;
        filter: alpha(opacity=0);
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 100%;
    }

    .drag-file-label{
        display: block;
        width: 100% !important;
    }

    .will-upload-images{
        border: 2px dotted #bdc3c7;
        width: 100%;
        min-height: 50px;
        color: black;
        font-size: 100%;
        padding: 5px 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column
    }

    .will-upload-image{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }

    .will-upload-image-name{
        display: block;
        width: 91%;
        font-size: .8em;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 36px;
    }

    .will-upload-image-button{
        width: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Admin Card */
        .card:hover{
            border: 1px solid rgba(0,0,0,.125) !important;
        }

        .admin-size-dropdown{
            display: flex !important;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .admin-size-dropwdown-list{
            display: flex !important;
            justify-content: center;
            align-items: center;
            padding: 0 2px;
        }

        .admin-card-product-title{
            margin-bottom: 0.5em !important;
            height: 48px !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }

        .admin-card-product-brand{
            color: #6b757c !important;
            font-weight: 400 !important;
        }
        
        .admin-size-dropdown-list-font{
            font-size: .8em;
        }
        
        .product-edit-font{
            color: #6b757c !important;
        }

        .product-edit-font:hover{
            cursor: pointer;
        }

        .edit-item-modal-left{
            display: flex;
            flex-direction: column;
        }

        .edit-item-modal-image-available{
            margin-bottom: 30px;
        }

    /* Sell Card */
        .sell-card-body-title{
            margin-bottom: 10px;
        }

        .sell-card-body-title-font{
            font-size: 1.2em;
            text-align: center;
            height: 46px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .sell-card-body-info-ask-font{
            font-size: 1.1em !important;
        }

        .sell-card-body-info-bottom-font{
            font-size: 13px !important;
            font-weight: 300 !important
        }

        .sell-card-body-info-detail{
            text-align: center;
            background-color: #28a745;
            color: white;
            padding: 10px 5px !important;
            width: 100%;

        }
        .sell-card-footer-sell-button{
            width: 100%;
            border-radius: 0 !important; 
        }

        .selectSizeDropDown-menu-list{
          margin-bottom: 10px !important;
        }

    /* Sell Modal */
        .modal-sell-product{
            display: flex;
            justify-content: flex-start;
        }

        .modal-sell-product-middle-productname{
            margin-bottom: 5px;
        }

        .modal-sell-product-middle-brand-font{
            font-weight: 300;
        }

        .modal-sell-product-middle-marketinfo-font{
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }

        .modal-sell-product-middle-youraskinfo{
            width: 100%;
            margin-top: 15px;
        }

        .modal-sell-product-right-top{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .selectSizeDropDown{
            padding: 0 5px !important;
        }
        .selectExpiredDuration{
            padding: 0 5px !important;
        }

        .selectSizeDropDown-menu{
            display: flex;
            justify-content: flex-start;
        }

        .selectSizeDropDown-menu-list:hover{
            background-color: #e4e4e4;
            cursor: pointer;
        }

        .selectSizeDropDown-menu-size{
            padding: 0 !important;
            text-align: center;
        }

        .selectSizeDropDown-menu-size-font{
            font-size: .9em !important;
            font-weight: 400
        }

        .selectSizeDropDown-menu-list{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0 10px;
        }

        .selectSizeDropDown-menu-market-info{
            padding: 0 0 0 5px !important;
            text-align: left;
            display: flex;
            flex-direction: column;
        }

        .selectSizeDropDown-menu-market-info-font{
            font-size: .8em;
            line-height: 20px !important;
            font-weight: 300 !important;
        }

        .selectExpiredDuration-dropwdown{
            width: 118px !important;
            min-width: 0 !important;
            left: 5px !important;
            top: 35px !important;
            transform: none !important;
        }

        .modal-sell-product-middle-youraskinfo-lowerthanask{
            color: #199619
        }

        .modal-sell-product-middle-youraskinfo-equaltoask{
            color: #de3333;
        }

        .modal-sell-product-middle-youraskinfo-higherthanask{
            color: #de3333
        }


/* Home */
  .home-card-body-info-font{
    font-size:.9em; 
    font-weight:300;
  }